/* styles/components/Footer.module.css */
.footer {
  background-color: #fff;
  padding: 2rem 5rem;
  border-top: 1px solid rgba(217, 217, 217, 0.45);
}

.footList {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footList li {
  font-size: 0.75rem;
  font-weight: 500;
  color: #1c1c1c;
  cursor: pointer;
}

.footList li:hover {
  color: #66a8ff;
}

.span {
  font-size: 0.75rem;
  color: #767676;
}
