.header {
  background-color: #fff;
  padding: 2rem 6rem;
}

.navContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navMenu {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid rgba(217, 217, 217, 0.45);
}

.link {
  color: #1c1c1c;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  transition: 0.5s;
  color: #66a8ff;
}

.link:active {
  color: #66a8ff;
}

.themeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  width: 48px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(217, 217, 217, 0.45);
}
